@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Archivo', sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2.5rem 0.3rem;
  border-bottom: 1px solid black;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  object-fit: fill;
}

footer {
  padding: 1rem 1rem;
  border-top: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 3rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.poke-img {
  width: 40%;
  height: 40%;
}

.line {
  height: 1.5rem;
  border-left: 1px solid black;
}

.modal {
  position: fixed;
  top: 50%;
  left: 65%;
  width: 95vw;
  transform: translate(-50%, -50%) scale(0);
  justify-content: center;
  align-items: center;
  transition: 0.75s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 700px;
  border: 2px solid black;
  z-index: 10;
  background-color: azure;
  position: relative;
  padding: 0.7rem;
  overflow-y: scroll;
}

#close {
  position: absolute;
  right: 5px;
  top: -25px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.popup-img {
  width: 45%;
  height: 45%;
  padding: 0;
  margin: 0;
}

.attributes {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40%;
}
