@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto+Slab&display=swap');

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.5rem;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Archivo', sans-serif;
  background-color: #818890;
  background-image: linear-gradient(45deg, #818890 0%, #c2c2f7 100%);
}

a:link {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2.5rem 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  object-fit: fill;
}

footer {
  position: relative;
  z-index: 3;
  width: 100vw;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 6.5rem 2rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
}

.poke-img {
  width: 40%;
  height: 40%;
}

.line {
  height: 1.5rem;
  border-left: 1px solid black;
}

.likes-count {
  margin-left: 5px;
}

.far:hover {
  color: red;
}

.fas {
  color: red;
}

.poke-name {
  font-size: 1.35rem;
  font-family: 'Roboto Slab', serif;
}

.comments {
  background-color: white;
  border: none;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 70%;
  width: 95vw;
  transform: translate(-50%, -50%) scale(0);
  justify-content: center;
  align-items: center;
  transition: 0.75s ease-in-out;
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 50%;
  height: 700px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #011801;
  position: relative;
  padding: 0.7rem;
  overflow-y: scroll;
  box-shadow: 1px 2px 5px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 6px rgba(0, 0, 0, 0.75);
}

.moves {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: absolute;
  list-style: none;
  top: 20px;
  left: 10px;
  border: 0.5px solid aliceblue;
  border-radius: 10px;
  padding: 2rem;
  background: transparent;
}

.moves > h4 {
  margin: 0;
  padding: 0;
}

#close {
  position: absolute;
  right: 5px;
  top: -25px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in;
}

#close:hover {
  font-size: 48px;
}

.popup-img {
  width: 40%;
  height: 40%;
  padding: 0;
  margin: 0;
}

.attributes {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40%;
}

.comment-input,
.comment-area {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

.submit {
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
  background: #2443c2;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.line-rule {
  display: block;
  border-bottom: 0.1px solid aliceblue;
  width: 20%;
}

.comments-section {
  min-height: 40px;
  overflow-y: scroll;
  width: 50%;
  background-color: bisque;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
}

i {
  padding-right: 5px;
}

.first {
  color: #ed6f07;
}

#name {
  background-color: #ed6f07;
  padding: 0.5rem;
  border-radius: 10px;
}

.second {
  color: #392876;
}

#type {
  background-color: #392876;
  padding: 0.5rem;
  border-radius: 10px;
}

.third {
  color: #ac9e06;
}

#weight {
  background-color: #ac9e06;
  padding: 0.5rem;
  border-radius: 10px;
}

.fourth {
  color: #ac0606;
}

#height {
  background-color: #ac0606;
  padding: 0.5rem;
  border-radius: 10px;
}

.popup-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.fa-comment {
  padding-left: 5px;
  color: #38c11f;
}

.add-comment {
  text-align: center;
}
